@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f4f4f4;
}

h2 {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.container form {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  margin: 4rem;
  font-size: 1.2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-radius: 8px;
}

.container form input {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.container form button {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container form button:hover {
  background-color: #555;
}

img {
  border-radius: 8px;
  object-fit: cover;
}

.button {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #555;
}